html {
  scroll-behavior: smooth; }
  html body {
    margin: 0; }
    html body .wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      font-family: 'Times New Roman', Times, serif;
      font-size: 22px;
      line-height: 1.5;
      /* Header */
      /* Tablet*/
      /* Desktop */ }
      html body .wrapper .header {
        background-color: rgba(255, 255, 255, 0.142);
        position: absolute;
        width: 100%;
        z-index: 1;
        /* Menu Items */
        /* Hamburger Icon*/ }
        html body .wrapper .header .menu {
          clear: both;
          max-height: 0;
          transition: max-height .3s ease-out; }
        html body .wrapper .header ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: hidden; }
          html body .wrapper .header ul a {
            color: white;
            padding: 5px;
            text-decoration: none;
            text-align: center; }
            html body .wrapper .header ul a:hover {
              text-decoration: underline; }
        html body .wrapper .header .menu-icon {
          position: relative;
          display: flex;
          flex-direction: row-reverse;
          padding: 28px 20px;
          cursor: pointer; }
          html body .wrapper .header .menu-icon .nav-icon {
            display: flex;
            position: relative;
            background-color: white;
            height: 4px;
            width: 22px;
            border-radius: 25%;
            transition: background .3s ease-out; }
            html body .wrapper .header .menu-icon .nav-icon::before {
              background-color: white;
              content: "";
              display: flex;
              height: 100%;
              width: 100%;
              border-radius: 25%;
              position: absolute;
              transition: all .3s ease-out;
              top: 8px; }
            html body .wrapper .header .menu-icon .nav-icon::after {
              background-color: white;
              content: "";
              display: flex;
              height: 100%;
              width: 100%;
              border-radius: 25%;
              position: absolute;
              transition: all .3s ease-out;
              top: -8px; }
        html body .wrapper .header .menu-btn {
          display: none;
          /* Menu Out*/ }
          html body .wrapper .header .menu-btn:checked ~ .menu {
            max-height: 240px; }
          html body .wrapper .header .menu-btn:checked ~ .menu-icon .nav-icon {
            background: transparent; }
          html body .wrapper .header .menu-btn:checked ~ .menu-icon .nav-icon::before {
            transform: rotate(-137deg);
            top: 0; }
          html body .wrapper .header .menu-btn:checked ~ .menu-icon .nav-icon::after {
            transform: rotate(137deg);
            top: 0; }
      html body .wrapper .backgroundImage {
        position: relative;
        background: url(../assets/negative-space-black-forest-dawn.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        align-items: center;
        color: white; }
        html body .wrapper .backgroundImage .welcomeText {
          position: relative;
          padding-left: 50px;
          padding-right: 50px;
          top: 30vh;
          text-align: center; }
        html body .wrapper .backgroundImage .arrow {
          position: relative;
          top: 60vh; }
          html body .wrapper .backgroundImage .arrow .firstArrow {
            color: white; }
      html body .wrapper .headingProfiles {
        color: black;
        text-align: center; }
      html body .wrapper .profiles {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        html body .wrapper .profiles .profileDiv {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: black; }
          html body .wrapper .profiles .profileDiv .profileImg {
            width: 250px;
            border-radius: 50%;
            box-shadow: 0px 0px 20px 10px lightgray; }
          html body .wrapper .profiles .profileDiv .profileText {
            background-color: lightgray;
            border-radius: 5px;
            margin-right: 30px;
            margin-left: 30px;
            padding: 30px;
            font-size: 16px;
            max-width: 350px; }
      html body .wrapper .arrow {
        display: flex;
        justify-content: center; }
        html body .wrapper .arrow .secondArrow {
          color: black; }
      html body .wrapper footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: .5;
        background-color: black;
        color: white;
        padding: 40px;
        margin-top: 70px; }
        html body .wrapper footer .contactDiv {
          padding-bottom: 20px;
          padding-left: 15%; }
          html body .wrapper footer .contactDiv a {
            color: white;
            text-decoration: none; }
            html body .wrapper footer .contactDiv a p {
              display: flex;
              align-items: center; }
              html body .wrapper footer .contactDiv a p i {
                width: 35px; }
      @media screen and (min-width: 768px) {
        html body .wrapper footer {
          flex-direction: row; }
          html body .wrapper footer .contactDiv {
            padding-left: 0px; } }
      @media screen and (min-width: 992px) {
        html body .wrapper .header ul {
          flex-direction: row;
          justify-content: flex-end; }
          html body .wrapper .header ul li {
            padding: 10px; }
        html body .wrapper .header .menu {
          clear: none;
          max-height: none; }
        html body .wrapper .header .menu-icon {
          display: none; }
        html body .wrapper .profiles {
          flex-direction: row;
          align-content: center;
          flex-wrap: wrap;
          justify-content: space-evenly;
          padding-left: 80px;
          padding-right: 80px; }
          html body .wrapper .profiles .profileDiv {
            width: 40%; } }
